* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #00487c;
}

.app {
  min-width: 200px;
  width: 30%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.appSection {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 20px 20px 20px;
  margin: 20px 0;
}

button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: #00487c;
  border: 1px solid white;
}

button:hover {
  cursor: pointer;
  background-color: #025c9c;
}

textarea,
select {
  background-color: #025c9c;
  width: 100%;
  border-radius: 5px;
}
