* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  word-break: break-word;
  white-space: normal;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #043355;
}

.app {
  min-width: 350px;
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 50px;
}

.appSection {
  border: 1px solid white;
  padding: 0 20px 20px 20px;
  margin: 20px 0;
  background-color: #03416e;
}

.button {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #024d83;
  border: 1px solid white;
}

.half-button {
  width: 49%;
}

.half-button-container {
  display: flex;
  justify-content: space-between;
}

.button:hover {
  cursor: pointer;
  background-color: #025c9c;
}

textarea,
select {
  background-color: #025c9c;
  width: 49%;
  border: 1px solid white;
  resize: none;
}

.job-textarea {
  width: 100%;
}

.add-job-textarea {
  margin: 10px 0 0 0;
}

.edit-input {
  margin: 10px 0 0 0;
}

.add-input {
  margin: 13px 0 0 0;
}

.table-layout {
  display: flex;
  justify-content: space-between;
}
h3 {
  margin: 10px 0;
}

.main-button {
  padding: 20px;
  font-size: 1.2em;
}

.questionnaireSection,
.resultsSection {
  padding-top: 15px;
  padding-bottom: 10px;
}

.questionnaireElement {
  padding: 10px;
}

.weighting {
  word-break: normal;
}

.proConJobItem {
  border: 1px solid white;
  padding: 10px;
  margin: 10px 0 10px 0;
}

td,
th {
  border: 1px solid white;
  padding: 10px;
}

th {
  text-align: left;
  white-space: nowrap;
  /* word-break: break-all; */
}

.navbar {
  min-width: 350px;
  width: 95%;
  max-width: 450px;
  position: fixed;
  height: 40px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
